{% import 'Product/formTemplate.html.twig' as form %}
<section class="container-fluid" id="add_bien">
    <form action="" method="post" enctype="multipart/form-data">

        <div class="form-group">

            {{ form.input('text', 'form-control','title', 'Titre de votre annonce', 'ex.: Ordinateur de bureau') }}
            {% if errors.title is defined %}<span style="color: red"> {{ errors.title }}</span> {% endif %}
        </div>

        <section id="cat_etat">
            <div class="form-group" style="display:flex;">
                <select class="form-con-trol" name="category" id="selectCategory">
                    <option value="0">Catégorie</option>
                    {% for parent in parents %}
                        <optgroup label="{{ parent.name }}">
                            {% for category in categories if category.parent_id == parent.id %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" >
                <select class=" status form-control" name="etat" id="etat"  required>
                    <option value="">Etat</option>
                    <option value="Neuf">Neuf</option>
                    <option value="Bon état">Bon état</option>
                    <option value="Satisfaisant">Satisfaisant</option>
                    <option value="Mauvais état">Mauvais état</option>

                </select>
                {% if errors.etat is defined %}<span style="color: red">{{ errors.etat }}</span> {% endif %}
            </div>
        </section>

        <div class="form-group">
            {{ form.textarea('form-control','description', 'Description du bien', '') }}
        </div>

        <!-- insérer ici les éléments d'upload de photo(s) -->
        <div class="form-group upload">
            <label for="upload">Montrez votre bien !</label>
            <input class="button btn btn-primary btn-sm" type="file" name="file" style="background-color: #00A99D">
        </div>

        <div class="form-group" id="nature">
            <div class="card mx-auto">
                <div class="card-header">
                    <h4 class="card-title">Nature de l'offre</h4>
                </div>
                <div class="card-body">
                    {{ form.radio('echangeOuDon', 'echange', 'Echange', 'checked') }}
                    {{ form.radio('echangeOuDon', 'don', 'Don', '') }}
                </div>
            </div>
        </div>

        <div class="form-group hiddenIfDon">
            {{ form.textarea('form-control','enEchangeDe', '', 'Précisez ici le(s) bien(s)/service(s) souhaité(s) en échange') }}
        </div>
        <div class="form-group hiddenIfDon" id="openOrNot">
            {{ form.radio('proposition', 'ouvert', 'Je suis ouvert.e à d\'autres propositions', 'checked') }}
            {{ form.radio('proposition', 'pasOuvert', 'Je souhaite uniquement ces biens / services en échange', '') }}
        </div>
        {% if session is not empty %}
            <div class="buttons">
                <button type="submit" class="btn btn-primary">Publier !</button>
            </div>
        {% endif %}
    </form>
</section>
