{% import 'Product/formTemplate.html.twig' as form %}
<section class="container-fluid">
    <form action="" method="post">

        <div class="form-group">

            {{ form.input('text', 'form-control','title', 'Titre de votre annonce', 'ex.: Ordinateur de bureau') }}
            {% if errors.title is defined %}<span style="color: red"> {{ errors.title }}</span> {% endif %}
        </div>

        <div class="form-group">
            {{ form.select('form-control', 'category_is','Choisissez une catégorie') }}

        </div>

        <div class="form-group">
            <select for="state-range" class="form-control" name="etat">
                <option>Etat</option>
                <option>Neuf</option>
                <option>Bon état</option>
                <option>Etat satisfaisant</option>
                <option>Satisfaisant</option>

            </select>
            {% if errors.etat is defined %}<span style="color: red">{{ errors.etat }}</span> {% endif %}

        </div>

        <div class="form-group">
            <label for="good-description">Description du bien</label>
            <input  name="description" type="text" class="form-control" id="good-description" placeholder="Précisez les caractéristiques principales du bien">
            {% if errors.description is defined %}<span style="color: red">{{ errors.description }}</span> {% endif %}
        </div>

        <!-- insérer ici les éléments d'upload de photo(s) -->

        <div class="form-group">
            {{ form.radio('echangeOuDon', 'echange', 'Echange', 'checked') }}
            {{ form.radio('echangeOuDon', 'don', 'Don', '') }}
        </div>


        <div class="form-group hiddenIfDon">
            {{ form.input('text', 'form-control','enEchangeDe', 'Ou en échange de', 'Précisez ici le(s) bien(s)/service(s) souhaité(s) en échange') }}
        </div>

        <div class="form-group">
            {{ form.radio('proposition', 'ouvert', 'Je suis ouvert à d\'autres proposition', 'checked') }}
            {{ form.radio('proposition', 'pasOuvert', 'Je souhaite uniquement ces biens / services en échange', '') }}
        </div>


        <div class="buttons">
            <button type="button" class="btn btn-outline-primary">Aperçu</button>
            <button type="submit" class="btn btn-primary">Publier !</button>
        </div>
    </form>
</section>
