{% import 'Product/formTemplate.html.twig' as form %}
<section class="container-fluid" id="add_bien">
    <form action="" method="post">

        <div class="form-group">

            {{ form.input('text', 'form-control','title', 'Titre de votre annonce', 'ex.: Ordinateur de bureau') }}
            {% if errors.title is defined %}<span style="color: red"> {{ errors.title }}</span> {% endif %}
        </div>

        <section id="cat_etat">
            <div class="form-group" style="display:flex;">
                <select name="category" id="selectCategory">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" style="display:flex;">
                <select class="form-group" name="etat" id="etat">
                    <option>Etat</option>
                    <option>Neuf</option>
                    <option>Bon état</option>
                    <option>Etat satisfaisant</option>
                    <option>Satisfaisant</option>

                </select>
                {% if errors.etat is defined %}<span style="color: red">{{ errors.etat }}</span> {% endif %}
            </div>
        </section>

        <div class="form-group">
            {{ form.textarea('form-control','description', 'Description du bien', '') }}
        </div>

        <!-- insérer ici les éléments d'upload de photo(s) -->

        <div class="form-group" id="nature">
            <div class="card mx-auto">
                <div class="card-header">
                    <h4 class="card-title">Nature de l'offre</h4>
                </div>
                <div class="card-body">
                    {{ form.radio('echangeOuDon', 'echange', 'Echange', 'checked') }}
                    {{ form.radio('echangeOuDon', 'don', 'Don', '') }}
                </div>
            </div>
        </div>

        <div class="form-group hiddenIfDon">
            {{ form.textarea('form-control','enEchangeDe', '', 'Précisez ici le(s) bien(s)/service(s) souhaité(s) en échange') }}
        </div>
        <div class="form-group hiddenIfDon">
            {{ form.radio('proposition', 'ouvert', 'Je suis ouvert à d\'autres propositions', 'checked') }}
            {{ form.radio('proposition', 'pasOuvert', 'Je souhaite uniquement ces biens / services en échange', '') }}
        </div>
        {% if session is not empty %}
            <div class="buttons">
                <button type="button" class="btn btn-outline-primary">Aperçu</button>
                <button type="submit" class="btn btn-primary">Publier !</button>
            </div>
        {% endif %}
    </form>
</section>
