{% import 'Product/formTemplate.html.twig' as form %}
<section class="container-fluid" id="add_bien">
    <form action="" method="post">

        <div class="form-group">

            {{ form.input('text', 'form-control','title', 'Titre de votre annonce', 'ex.: Ordinateur de bureau') }}
            {% if errors.title is defined %}<span style="color: red"> {{ errors.title }}</span> {% endif %}
        </div>

        <span style="display: flex;">
            <div class="form-group">
                {{ form.select('form-control', 'category_is','Choisissez une catégorie') }}
            </div>

            <div class="form-group">
                <select for="state-range" class="form-control" name="etat">
                    <option>Etat</option>
                    <option>Neuf</option>
                    <option>Bon état</option>
                    <option>Etat satisfaisant</option>
                    <option>Satisfaisant</option>

                </select>
                {% if errors.etat is defined %}<span style="color: red">{{ errors.etat }}</span> {% endif %}
            </div>
        </span>

        <div class="form-group">
            {{ form.textarea('form-control','description', 'Description du bien', '') }}
        </div>

        <!-- insérer ici les éléments d'upload de photo(s) -->

        <div class="form-group">
            {{ form.radio('echangeOuDon', 'echange', 'Echange', 'checked') }}
            {{ form.radio('echangeOuDon', 'don', 'Don', '') }}
        </div>

        <div class="form-group hiddenIfDon">
            {{ form.input('text', 'form-control','enEchangeDe', 'Ou en échange de', 'Précisez ici le(s) bien(s)/service(s) souhaité(s) en échange') }}
        </div>
        <div class="form-group form-check">
            <input name="proposition" type="checkbox" class="form-check-input" id="check-autres">
            <label class="form-check-label" for="check-autres">Vous êtes ouvert.e à toute proposition</label>
        </div>

        <div class="buttons">
            <button type="button" class="btn btn-outline-primary">Aperçu</button>
            <button type="submit" class="btn btn-primary">Publier !</button>
        </div>
    </form>
</section>
