{% extends "layout.html.twig" %}

{% block title %}{{ details.0.title }}{% endblock %}

{% block stylesheet %}
    <style>

        #main {
            width: 100%;
            margin: 30px auto 100px auto;
        }

        header, #user, #localisation, #echange > article,
        #action, #ad {
            box-shadow: 0 3px 3px #999;
            background-color: white;
        }

        #ad {
            margin-bottom: 10px;
        }

        #ad > img {
            width: 100%;
            height: auto;
            padding: 20px;
            margin: auto auto;
        }

        #action {
            display: flex;
            margin-top: 10px;
            padding: 10px;
        }

        aside > section > img {
            width: 26px;
            height: 26px;
            margin: auto auto auto 10px;
        }

        a {
            width: 80%;
        }

        button {
            width: 100%;
            background-color: #f59800;
            color: #FFF;
            padding: 10px 0;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: 600;
        }

        /*#core > div > div:first-of-type {*/
        /*    align-self: center;*/
        /*    padding: 0px;*/
        /*    margin-top: 10px;*/
        /*}*/

        #core > div {
            display: flex;
            flex-direction: column-reverse;
        }

        #echange {
            padding: 0px;
        }

        #echange > article {
            padding: 10px;
            margin-bottom: 10px;
        }
        article h4 {
            font-family: 'Fredericka the Great', cursive;
            font-weight: 600;
        }
         .date{
             text-align: end;
         }

        .breadcrumb {
            background-color: transparent;
        }


        @media (min-width: 768px) {

            #main {
                margin-top: 20px;
                width: 70%;
            }

            a {
                width: 100%;
            }

            #core {
                padding-right: 0px;
            }

            #core > div {
                flex-direction: row;
            }

            #echange {
                margin-left: 10px;
            }

            #ad {
                margin-left: 20px;
            }
            #ad > img {
                width: 300px;
            }

            aside {
                padding-left: 0px!important;
            }

            #action > img {
                display: none;
            }

            #action > a > button:last-of-type {
                display: block;
            }

            #fav_button {
                display: block;
            }
        }

        #row_map iframe {
            height: 100%;
            width: 100%;
        }
        #row_map {
            height: auto;
        }

        #user {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            align-items: center;
        }
        #user > h4 {
            margin-left: 10px;
        }

        .card_add img {
            padding: 20px;
            height: auto;
            width: 250px;
            display: block;
            margin: auto auto;
        }

        #localisation {
            padding: 10px;
        }

        #fav_button {
            display: none;
        }



    </style>
{% endblock %}

{% block content %}
        {% include 'arianne.html.twig' %}
        {#        {{ dump() }}#}
        <section class="container-fluid" id="main">
            <div class="row">
                <div class="col-md-9" id="core">
                    <div class="row">

                        <div class="col-md-3" id="echange">
                            <article>
                                <h4>En echange</h4>
                                <hr>
                                {% if details.0.deal_type == 'echange' %}
                                    <p>{{ details.0.enEchangeDe }}</p>
                                    <p>{{ details.0.proposition }}</p>
                                {% else %}
                                    <p>Rien du tout :)</p>
                                    <p>(Un sourire tout au plus)</p>
                                {% endif %}
                            </article>
                        </div>

                        <div class="col-md-8" id="ad">

                            <div class="card_add justify-item-center" >
                                <div style="width: 100%; margin: auto auto">
                                    <img src="/assets/uploads/{{ details.0.img }}" alt="">
                                    {#                                    <img src="/assets/images/image_placeholder.png" alt="">#}
                                </div>
                                <div class="card-body">
                                    <h1>{{ details.0.title }}</h1>
                                    <h5>Catégorie : {{ details.0.category }}</h5>
                                    {% if details.0.name == 'bien' %}
                                        <h6>Etat : {{ details.0.etat }}</h6>
                                    {% else %}
                                        <h6>Fréquence : {{ details.0.frequency }}</h6>

                                    {% endif %}
                                    <p>{{ details.0.description }}</p>
                                    <div class="date">
                                        <p>En ligne depuis le <em>{{ details.0.created_at | date('d/m/Y') }}</em></p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <aside class="col-md-3">
                    <article id="user">
                        <img src="/assets/images/icons/placeholderprofil.png" alt="Photo Profil">
                        <h4>{{ details.0.nickname }}</h4>
                    </article>
                    <article id="localisation">
                        <h4>Localisation</h4>
                        <p>{{ details.0.zip_code }}</p>
                        <hr>
                        <div class="row" id="row_map">
                            <div class="col-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45546.59467522495!2d4.650224283382518!3d44.48109714900073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b51239767b58f7%3A0x4093cafcbeb80c0!2s07220%20Viviers!5e0!3m2!1sfr!2sfr!4v1589445064097!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </article>
                    <section class="container-fluid" id="action">
                        <img src="/assets/images/heart.png" alt="favoris" title="Ajouter aux Favoris">
                        <a href="/product/offre/{{ id }}">
                            <button type="button" >Faire un Troc</button>
                            {% if session is not empty %}
                                <button type="button" id="fav_button" >Ajouter aux favoris</button>
                            {% endif %}
                        </a>
                    </section>
                </aside>
            </div>
        </section>

    </main>

{% endblock %}

{% block javascripts %}
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: -34.397, lng: 150.644}
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVaXQaad_Vg7tnUN45WoFZoM3ACOc80Qs&callback=initMap">
    </script>
{% endblock %}

