{% extends "layout.html.twig" %}

{% block title %}
    Faire une offre
{% endblock %}

{% block stylesheet %}
    <style>
        .container-fluid {
            width: 100%;
            margin: 0 auto;
        }

        main {
            padding: 10px;
        }
        .card-body {
            display: flex;
            padding: 10px;
        }

        .row, form {
            margin-top: 10px;
            padding: 10px;
            background-color: #FFF;
            box-shadow: 0 3px 3px #777777;
        }

        .row > div {
            padding: 0;
        }

        h5 {
            margin-top: 10px;
        }

        button, textarea, .row, form {
            width: 100%;
            border-radius: 5px;
        }

        textarea {
            margin-bottom: 10px;
            //background-color: rgba(0,169,157,0.7);
            color: #000000;
            font-weight: 800;
        }

        form {
            margin-top: 20px;
            margin-bottom: 100px;
        }
        form button {
            font-weight: bold;
        }

        .card {
            box-shadow: 0 2px 2px #777;
        }

        .card-body, .card-header {
            display: flex;
            justify-content: space-between;
        }

        .card-header {
            background-color: rgba(0,169,157,0.8);
            color: #000000;
            font-weight: bold;
        }

        .card-title {
            margin-bottom: 0;
            color: white;
            font-weight: 600;

        }

        .card-text {
            overflow-wrap: anywhere;
            /*text-overflow: ellipsis;*/
            /*overflow: hidden;*/
            /*white-space: nowrap;*/
            /*width: 200px;*/
        }

        .badge {
            height: 50%;
            background-color: #f59800;
            /*color: white;*/
            text-transform: capitalize;
            font-weight: bold;
        }

        #echange {
            margin: 20px 0;
        }

        button {
            margin-bottom: 10px;
            background-color: #f59800;
            padding: 7px 0;
            border-radius: 5px;
            color: #FFF;
            text-transform: uppercase;

        }

        label {
            margin: 5px auto;
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #00A99D;
            font-size: 1.2em;
        }

        .imgProduct {
            width: 60%;
        }

        @media (min-width: 768px) {
            .container-fluid {
                width: 100%;
            }
            .row, form {
                width: 50%;
                margin: 20px auto;
            }
            .imgProduct {
                width: 80%;
            }
        }
        #desc {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'arianne.html.twig' %}

    <section class="container-fluid" id="main">
        <main>

        <div class="row">
                <div class="col-md-12">
                    <h5>Rappel du troc</h5>
                    <hr>
                    <div class="card mx-auto">
                        <div class="card-header">
                            <h4 class="card-title">{{ details.0.title }}</h4>
                                <span class="badge">{{ details.0.deal_type }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text" id="desc">{{ details.0.description }}</p>

                            <img class="imgProduct" src="/assets/uploads/{{ details.0.img }}" alt="{{ details.0.title }}">
                            
                            <a href="/product/details/{{ details.0.id }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% if details.0.deal_type == 'echange' %}
                    <div class="col-md-6" id="echange">
                        <div class="card mx-auto">
                            <div class="card-header">
                                <h4 class="card-title">En échange de :</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ details.0.enEchangeDe }}</p>
                                <p class="card-text">{{ details.0.proposition }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <form action="" method="post">
                <label for="message">Votre message</label>
                <textarea type="text" name="message" id="message" rows="8" placeholder="Bonjour, je suis intéressé.e par ..."></textarea>
                <button type="submit" >Envoyer</button>
            </form>

    </main>
    </section>

{% endblock %}

