{% extends "layout.html.twig" %}

{% block title %}Liste des biens / services{% endblock %}


{% block stylesheet %}
    <style>
        [name="search"] {
            width: 100%;
            height: 60px;
        }

        #categories {
            display: none;
        }

        #recherche_top {
            box-shadow: 2px 2px 5px #999;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 50px;
            background-color: #fff;
        }

        #recherche_top > form > div:first-of-type {
            margin-top: 10px;
            padding: 0 5px;
            display: flex;
            justify-content: space-between;
        }

        #recherche_top > form > div > span {
            display: flex;
        }

        #recherche_top > form > div > span > p {
            margin-top: 5px;
            margin-left: 5px;
            font-size: 0.9em;
        }

        #recherche_top > form > div > span > img {
            width: 25px;
            height: 30px;
        }

        #recherche_top > div {
            display: flex;
        }

        .card-body {
            display: flex;
            padding: 5px;
            margin-bottom: 5px;
            box-shadow: 5px 5px 5px #999;
            height: 130px;

        }

        .card-body > img:first-of-type {
            height: 75px;
            width: 75px;
            margin: auto 10px;
        }

        .card-body > img:last-of-type {
            height: 20px;
            width: 20px;
            align-self: center;
            position: absolute;
            right: 15px;
        }

        .card-body h4 {
            margin-top: 15px;
        }

        .card-body p {
            font-size: 0.7em;
            margin-top: 15px;
        }

        .card-title {
            margin-bottom: 0;
        }

        #liste {
            z-index: -1;
            padding: 10px;

        }

        #barter, #hands {
            width: 250px;
            position: absolute;
            top: 50px;
            z-index: -2;
            opacity: 0.5;
        }

        #barter {
            right: 160px;
        }

        #hands {
            left: 160px;

        }

        @media (max-width: 576px) {

            #barter { display: none;}
        }

        .row {
            width: 80%;
            margin: auto auto;
        }

        .col-md-6 > a {
            display: block;
        }

    </style>
{% endblock %}


{% block content %}
    {% include '_nav_retour.html.twig' %}
    {% include '_nav_bar.html.twig' %}
    <div class="row">
        <img src="/assets/images/hands.jpeg" alt="" id="hands">
        <section class="col-md-4 offset-md-4" id="recherche_top">
            <form action="" method="get">
                <input type="text" name="search" placeholder="Votre recherche">

                <div>
                <span>
                    <img src="/assets/images/icons/filtre.png" alt="filtre">
                    <p>Filtrer</p>
                </span>
                    <div class="form-group" id="categories">
                        <label for="sel1">Catégories</label>
                        <select class="form-control" id="sel1" name="category">
                            {% for category in categories %}
                                <option value="{{ category.id }}"> {{ category.title }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Go !</button>
                </div>
            </form>
        </section>
        <img src="/assets/images/barter.png" alt="" id="barter">

        <section class="container-fluid col-md-12" id="liste">

            {% if products is empty %}
                <p>Oups ! Aucun résultat pour cette recherche, blablabla</p>
            {% else %}
                <p>{{ products|length }} {{ (products|length > 1) ? 'résultats' : 'résultat' }}</p>
                <div class="row">
                {% for product in products %}

                <div class="col-md-6">
                        <div class="card" id="{{ product.id }}" >
                            <div class="card-body">
                                <img src="{{ product.img }}" class="card-img" alt="Photo de {{ product.title }}" >
                                <div>
                                    <h4 class="card-title">{{ product.title }}</h4>
                                    <span class="badge badge-success">{{ product.deal_type }}</span>
                                    <p class="card-text">{{ product.description }}</p>
                                    {#                            <p class="card-text"><small class="text-muted">Date de Parution : {{ product.created_at|date("m/d/Y") }}</small></p>#}
                                </div>
                                <img src="/assets/images/heart.png" width="40px">
                            </div>
                        </div>
                </div>

                {% endfor %}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const card = $('.card');
        });

    </script>

{% endblock %}


