{% extends "layout.html.twig" %}

{% block stylesheet %}
    <style>
        table{
            margin: 30px;
        }
        table tr td{
            width : 150px;
        }
        .buttons{
            margin: 30px;
        }
        #liste{
            margin: 20px;
        }
        .card {
            position: relative;
            box-shadow: 3px 3px 3px rgb(0,169,157);
            border-radius: 5px;
            background-color: #FFF;

        }

        .card-body {
            display: flex;
            padding: 5px;
            height: auto;
        }

        .card-body > img:first-of-type {
            height: 75px;
            width: 75px;
            margin: auto 10px;
            padding: 2px;

        }

        .card-body > img:last-of-type {
            height: 20px;
            width: 20px;
            align-self: center;
            position: absolute;
            right: 15px;
        }

        .card-body h6 {
            margin-top: 15px;
            font-weight: 600;
        }

        .card-body p {
            font-size: 0.7em;
            margin-top: 10px;
        }
        .detail{
            width: 80%;
        }

        .delete{
            width: 100%;
            justify-content: flex-end;
        }
        .accordion{
            margin: 20px;
        }
        .btn-maj{
            background-color: #f59800;
            margin: 20px;
        }
        .btn-maj:hover{
            margin: 20px;
            color: #f59800;
            border-color: #f59800;
            box-shadow: 0 0 0px 2px #f59800;
        }
        .buttons  {
            width: 100%;
            background-color: #f59800;
            color: #FFFFFF;
            border-color: #f59800;
            font-size: 1.2em;
            margin-top: 10px;
            margin-bottom: 0;
        }
        .buttons:hover {
            background-color: #00A99D;
            color: white;
            border-color: #f59800;

        }
        .badge {
            background-color: #00A99D;
            margin: 20px;
            padding: 5px;
            border: #f59800 solid 1px;
        }
        .btn-secondary:not(:disabled):not(.disabled).active,
        .btn-secondary:not(:disabled):not(.disabled):active,
        .show>.btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #00A99D;
            border-color: #f59800;
        }

        h3{
            color: #FFF;
            font-size: 2.5vmax;
            padding: 0;
        }



        @media (min-width: 577px) {
            #recherche_top {
                margin: 20px auto 40px;
            }

            #col {
                width: 70%;
                margin: 20px;
            }

            #photo, #sac, #photo, #book, #velo, #shoes, #musik, #pull {
                display: block;
            }
        }


            @media (min-width: 992px) {
                .row {
                    width: 80%;
                }

                #col {
                    width: 80%;
                }

                .accordion {
                    margin: 0 50px 0 50px;
                }
            }

    </style>
{% endblock %}


{% block content %}
    {% include '_nav_retour.html.twig' %}
    {% include '_nav_bar.html.twig' %}

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">Votre compte</h2>

                    <button class="btn btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                          Gérez vos informations
                    </button>

            </div>


            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% include 'User/_user_info.html.twig' %}
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">Votre inventaire :</h2>

                    <button class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo">
                         liste des biens et services que vous proposez actuellement
                    </button>

            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <section class="container-fluid col-md-12" id="liste">

                {% if inventaire is empty %}
                    <p>Vous n'avez aucun bien ou service proposé pour le moment</p>
                    <div class="buttons">
                        <a href="/Product/bienOuService/propose">
                            <button type="button" class="btn btn-primary btn-sm"
                                    style="background-color: #00A99D">
                                 == > Faire une proposition
                            </button>
                        </a>
                    </div>
                {% else %}
                    <p>{{ inventaire|length }} {{ (inventaire|length > 1) ? 'résultats' : 'résultat' }}</p>
                    <div class="row">
                        {% for product in inventaire %}
                            <div class="col-md-5 col-lg-3" id="col">
                                <div class="card mx-auto" id="{{ product.id }}" >
                                    <div class="card-body">
                                        <img src="{{ product.img }}" class="card-img" alt="Photo de {{ product.title }}" >
                                        <div class="detail">
                                            <h6 class="card-title">{{ product.title }}</h6>
                                            <span class="badge badge-pill">{{ product.deal_type }}</span>
                                            <p class="card-text">{{ product.description }}</p>
                                            <p class="card-text"><small class="text-muted">Proposé le {{ product.created_at | date('d/m/Y') }}</small></p>
                                            <div class="delete">
                                                <a href="/product/deleteProduct/{{product.id}}">Supprimer</a>
                                            </div>

                                        </div>
                                        <img src="/assets/images/heart.png" width="40px">
                                        <a href="/product/details/{{ product.id }}" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </section>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">Vos favoris :</h2>
                    <button class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree">
                         liste des biens et services que vous avez repérez
                    </button>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        {#  Affichage des favoris#}
                </div>
            </div>
        </div>
    </div>
    <div class="badge">
        <div class="">
            <h3>Du coup, on fait quoi aujourd'hui?</h3>
        </div>
        <div>
        <div class=" btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle buttons" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                On propose
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Product/add/bien">Un Bien</a>
                <a class="dropdown-item" href="/Product/add/service">Un Service</a>
            </div>
        </div>

        <div class=" btn-group">
            <button class="buttons btn btn-secondary btn-lg dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                On recherche
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Product/show/bien">Un Bien</a>
                <a class="dropdown-item" href="/Product/show/service">Un Service</a>
            </div>
        </div>
        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Bienvenue sur Troc & Troc !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Nous sommes ravi.e.s de vous compter parmi les membres notre communauté.
                    Pour toute question, n'hésitez pas à consulter notre <a href="/Footer/faq.html.twig">foire aux questions</a> :)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">1, 2, 3... troquez !</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block user %}


{% endblock %}

{% block javascripts %}
    {% if displayModal == true %}
        <script>
            $(document).ready(function(){
                $("#welcomeModal").modal('show');
            });
        </script> {% endif %}
{% endblock %}
